body{
    overflow-x: hidden;
    height: max-content;
}
body div.background-image{
    background-image: url("../assest/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -20;
    opacity: 90%;
}
nav{
    background-color: rgba(99, 95, 98, 0.30);!important;
    height: 77px;
    width: 1366px;
}
nav>img{
    height: 77px;
    width: 151px;
    position: relative;
}
nav>label.name{
    color: black;
    font-size: 30px;
    font-family: Tahoma;
    height: 77px;
    width: 119px;
    position: absolute;
    left: 151px;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline;
}
nav>ul>li>a {
    display: inline;
    color: black;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
    position: absolute;
    left: 125px;
    font-size: 20px;
    font-family: Tahoma;
}
nav>ul>li>a.home{
    position: absolute;
    left: 150px;
    background-color: #F69400;
    height: 70px;
    opacity: 60%;
}
nav>ul>li>a.about{
    position: absolute;
    left: 250px;
}
nav>ul>li>a.service{
    position: absolute;
    left: 350px;
}
nav>ul>li>a.blog{
    position: absolute;
    left: 470px;
}
nav>ul>li>a.skill{
    position: absolute;
    left: 550px;
}
nav>ul>li a:hover {
    background-color: #F69400;
    opacity: 60%;
    transition-duration: 2s;
    height: 70px;
}
nav>a.face>img{
    width: 34.88px;
    height: 36.88px;
    position: absolute;
    right: 450px;
}
nav>a.insta>img{
    width: 34.88px;
    height: 36.88px;
    position: absolute;
    right: 400px;
}
nav>a.twit>img{
    width: 34.88px;
    height: 36.88px;
    position: absolute;
    right: 350px;
}
nav>a.link>img{
    width: 34.88px;
    height: 36.88px;
    position: absolute;
    right: 300px;
}
nav>a.whatsapp>label.contact{
    color: black;
    font-size: 25px;
    font-family: Tahoma;
    height: 77px;
    width: 160px;
    position: absolute;
    right: 90px;
}
nav>a.whatsapp>label.contact>img.down{
    width: 34.88px;
    height: 36.88px;
    position: absolute;
}
nav>a.whatsapp>label.contact:hover{
    background-color: #F69400;
    opacity: 40%;
    transition-duration: 2s;
    cursor: pointer;
}
body>section{
    width: 1366px;
    height: 500px;
}
section>div.me{
    width: 251px;
    height: 223px;
    border-radius: 80%;
    position:relative ;
    background-color: rgba(25,53,62,0.50);
}
section>div.me>img{
    width: 193px;
    height: 214px;
    position: absolute;
    left: 30px;
    bottom: 0px;
    border-radius: 42%;
}
section>article{
    font-family: Tahoma;
    font-size: 22px;
    width: 200px;
    height: 162px;
    position: absolute;
}
section>article>pre{
    font-size: 22px;
    font-family: Tahoma;
    width: 300px;
    height: 162px;
    position: absolute;
    bottom: -20px;
    left: 70px;
}
section>article>div.hello{
    font-family: Tahoma;
    font-size: 40px;
    color: black;
    width: 533px;
    height: 97px;
    position: absolute;
    bottom: 280px;
    left: 290px;
}
section>article>div.ASE{
    font-family: Tahoma;
    font-size: 35px;
    color: #F69400;
    width: 533px;
    height: 97px;
    position: absolute;
    bottom: 230px;
    left: 290px;
}
section>article>a>label.download{
    width: 210px;
    height: 33px;
    font-family: Tahoma;
    font-size: 27px;
    color: #F69400;
    position: absolute;
    bottom: -40px;
    left: 90px;
}
section>article>a>img.download{
    width: 37px;
    height: 29px;
    position: absolute;
    bottom: -40px;
    left: 40px;
}
section>article>a>label.download:hover{
    cursor: pointer;
}
section>article>a>img.download{
    cursor: pointer;
}
section>div.education{
    position: absolute;
    right: 500px;
}
section>div.education>label.edu{
    width: 156px;
    height: 43px;
    font-size: 36px;
    font-family: Tahoma;
    color: black;
    position: absolute;
    bottom: 150px;
    left: 150px;
}
section>div.education>img{
    position: absolute;
    left: 50px;
    bottom: -200px;
    width: 268px;
    height: 331px;
}
section>div.education>label.clickhere{
    border-radius: 5px;
    padding: 14px 28px;
    font-size: 30px;
    font-family: Tahoma;
    cursor: pointer;
    border: 2px #F69400;
    color: #F69400;
    position: absolute;
    left: 320px;
    bottom: -60px;
}
section>div.education>label.clickhere:hover{
    border-color: #F69400;
    color: black;
    background-color: #F69400;
    transition: 1.5s;
}
body>div.modal{
    display: none;
    position: absolute;
    left: 780px;
    top: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    height:auto;
    overflow: auto;
    background-color: #2b2b2b;
}
body>div.modal>div.modal-content{
    font-size: 30px;
    font-family: Tahoma;
    color: #F69400;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
body>div.modal>div.modal-content>span.close{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
body>div.modal>div.modal-content>span.close:hover,
body>div.modal>div.modal-content>span.close:focus{
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}
body>div.skills>label.my_skills{
    font-family: Tahoma;
    font-size: 30px;
    position:absolute;
    top: 550px;
}
body>div.skills{
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 28px;
}
body>div.skills>div.container{
    width: 50%;
    background-color: #ddd;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
body>div.skills>div.container>div.skills{
    text-align: right;
    color: black;
}
body>div.skills>div.container>div.html{
    width: 90%;
    background-color: #F6B7DD;
}
body>div.skills>div.container>div.css{
    width: 80%;
    background-color: #F156D7;
}
body>div.skills>div.container>div.js{
    width: 65%;
    background-color: #B91FB9;
}
body>div.skills>div.container>div.java{
    width: 85%;
    background-color: #5D0F5A;
}
